<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>survivor-meleeattack_handgun_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,798},{210,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{40,44},{210,154}}</string>
				<key>sourceSize</key>
				<string>{291,256}</string>
			</dict>

			<key>survivor-meleeattack_handgun_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,798},{204,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,43},{204,161}}</string>
				<key>sourceSize</key>
				<string>{291,256}</string>
			</dict>

			<key>survivor-meleeattack_handgun_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,162},{191,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,19},{191,182}}</string>
				<key>sourceSize</key>
				<string>{291,256}</string>
			</dict>

			<key>survivor-meleeattack_handgun_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,471},{194,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,37},{194,169}}</string>
				<key>sourceSize</key>
				<string>{291,256}</string>
			</dict>

			<key>survivor-meleeattack_handgun_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,471},{214,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,46},{214,161}}</string>
				<key>sourceSize</key>
				<string>{291,256}</string>
			</dict>

			<key>survivor-meleeattack_handgun_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,162},{223,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,52},{223,153}}</string>
				<key>sourceSize</key>
				<string>{291,256}</string>
			</dict>

			<key>survivor-meleeattack_handgun_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,316},{216,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{40,46},{216,154}}</string>
				<key>sourceSize</key>
				<string>{291,256}</string>
			</dict>

			<key>survivor-meleeattack_handgun_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,345},{188,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,42},{188,173}}</string>
				<key>sourceSize</key>
				<string>{291,256}</string>
			</dict>

			<key>survivor-meleeattack_handgun_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,0},{169,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,42},{169,181}}</string>
				<key>sourceSize</key>
				<string>{291,256}</string>
			</dict>

			<key>survivor-meleeattack_handgun_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,519},{155,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,42},{155,181}}</string>
				<key>sourceSize</key>
				<string>{291,256}</string>
			</dict>

			<key>survivor-meleeattack_handgun_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,0},{161,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,42},{161,178}}</string>
				<key>sourceSize</key>
				<string>{291,256}</string>
			</dict>

			<key>survivor-meleeattack_handgun_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,710},{181,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,46},{181,189}}</string>
				<key>sourceSize</key>
				<string>{291,256}</string>
			</dict>

			<key>survivor-meleeattack_handgun_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{242,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,52},{242,161}}</string>
				<key>sourceSize</key>
				<string>{291,256}</string>
			</dict>

			<key>survivor-meleeattack_handgun_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,633},{211,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,42},{211,164}}</string>
				<key>sourceSize</key>
				<string>{291,256}</string>
			</dict>

			<key>survivor-meleeattack_handgun_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,519},{185,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{48,11},{185,190}}</string>
				<key>sourceSize</key>
				<string>{291,256}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>gunattack.png</string>
			</dict>
		</dict>
</plist>